<form action="author">

    <h1>Password Generator</h1>
    <label for="length">Select the length of your password:</label>
    <select name="" id="length">
        <option value="8">Eight characters</option>
        <option value="10">Ten characters</option>
        <option value="14">Fourteen characters</option>
        <option value="16">Sixteen characters</option>    
    </select>
    <label for="check">Check</label>
    <input type="checkbox" name="check" id="check">
   
   
    <button>Get Password</button>

</form>